[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:google/googletest.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = git@github.com:madler/zlib.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = git@github.com:google/benchmark.git
[submodule "vendor/poppler"]
	path = vendor/poppler
	url = https://gitlab.freedesktop.org/poppler/poppler.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = git@github.com:freetype/freetype.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
