name: Windows

on: push

jobs:
  build:
    name: Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git mingw-w64-x86_64-cmake mingw-w64-x86_64-ninja mingw-w64-x86_64-toolchain mingw-w64-x86_64-gtkmm4 mingw-w64-x86_64-clang

      - run: mkdir build

      - name: Build
        working-directory: build
        run: |
          cmake .. -G Ninja -D CMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER=clang -D CMAKE_CXX_COMPILER=clang++
          cmake --build .

# TODO download xpdf cli tools and install them to C:/Program Files/Xpdf
#      - name: Test
#        working-directory: build
#        run: |
#          ctest --output-on-failure
#          cmake --build . --target test_suite_verapdf
#          cmake --build . --target test_suite_isartor
#          cmake --build . --target test_suite_bfosupport

      - name: Package
        working-directory: build
        run: cmake --build . --target package

      - name: Archive Artifacts
        uses: actions/upload-artifact@v2
        with:
          path: build/pdf-editor-0.0.1-win64.exe
